<!--<link href="../../../BootStrap/bootstrap.css" rel="stylesheet" />-->
<div ng-controller="userCtrl">
    <h1>{{"user"}}</h1>
   

    <div class="container">
        <button type="button" class="btn btn-info right" data-toggle="collapse" data-target="#demo">Add User</button>
        <div id="demo" class="collapse">
            <table class="table table-striped">
                <thead>              
                    <tr>
                        <th>FirstName</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>PassWord</th>
                        <th>PN</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>City Code</th>
                        <th>Phone</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td><input  ng-model="user.FirstName"/></td>
                        <td><input  ng-model="user.LastName" /></td>
                        <td><input  ng-model="user.Email" /></td>
                        <td><input ng-model="user.PassWord" /></td>
                        <td><input  ng-model="user.PersonalNumber" /></td>
                        <td><input  ng-model="user.Address"  /></td>
                        <td><input  ng-model="user.City"  /></td>
                        <td><input  ng-model="user.CityCode" /></td>
                        <td><input  ng-model="user.Phone"  /></td>
                        <td><input ng-model="user.Category"  /></td>
                       
        
                    </tr>
                    <tr><td><button class="btn btn-success" ng-click="addUser()">save</button></td></tr>

                </tbody>
            </table>
           
        </div>
    </div>
        <table class="table table-striped">
            <thead>
                <tr>
                <td><label>Search User</label></td>
                    
                  <td><input ng-model="name" ng-keyup="search(name)" /></td>
                </tr>
                <tr >
                    <th>FirstName</th>
                    <th>Lastname</th>
                    <th>Email</th>                   
                    <th>PN</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>City Code</th>
                    <th>Phone</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="user in userList">
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="user.FirstName" value="user.FirstName"/></td>
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="user.LastName" value="user.LastName" /></td>
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="user.Email" value="user.Email" /></td>
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="user.PersonalNumber" value="user.PersonalNumber" /></td>
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="user.Address" value="user.Address" /></td>
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="user.City" value="user.City" /></td>
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="user.CityCode" value="user.CityCode" /></td>
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="user.Phone" value="user.Phone" /></td>
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="user.Category" value="user.Category" /></td>
                    <td><button class="btn btn-active" ng-model="chk" ng-click="editee(chk,$index)">editee</button></td>
                    <td><button ng-hide="(!active[$index])?true:false" class="btn btn-success" ng-click="saveeditee(user)">save</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(user)">Delete</button></td>
                </tr>
               
            </tbody>
        </table>
    </div>



  


    

