


<a href="#/AddOrganiztion" class="btn btn-primary btn-xs">Add New Oranization</a>
<br /><br />
<div class="table-responsive">
    <table id="mytable" class="table table-bordred table-striped">
        <thead>
        <th>Organztion ID</th>
        <th>Registertion No</th>
        <th>Descrption</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>

        </thead>
      
     
  
        <tbody>
            <tr ng-repeat="item in ListOfOrganiztion">
                
                <td>{{item.OrganiztionID}}</td>
                <td>{{item.RegisterionNo}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.Address}}</td>
              
                <!--<td>{{item.DepartmentName}}</td>-->
                <td><a class="btn btn-primary btn-xs" href="#/EditOrganiztion/{{item.OrganiztionID}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a class="btn btn-danger btn-xs" href="#/DeleteOrganiztion/{{item.OrganiztionID}}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        </tbody>
    </table>
    <!--<div class="clearfix"></div>
    <ul class="pagination pull-right">
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
    </ul>-->
</div>