<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script>
        var app = angular.module('myapp', []).controller('ctrl', function ($scope,$http) {
            $scope.username; $scope.password;
            $scope.myWelcome = "null";
            $scope.data = "";
            $scope.send = function () {
                $http.get('http://localhost:64492/api/login?username=' + $scope.username, {
                    headers: { 'Authorization': 'Basic ' + $scope.username + ':' + $scope.password }
                }).then(function (data) { $scope.data = data.data; });
            }

        });
    </script>
</head>
<body ng-app="myapp" ng-controller="ctrl">
    <label>username</label><input type="text" ng-model="username" name="username" />
    <label>password</label><input type="text" ng-model="password" />
    {{myWelcome}}
    <input value="send" type="button" ng-click="send()" />
    {{3534535}}
  {{"username" + data.UserName +"  departmentname :"+ data.DepartmentName }}
</body>
</html>
