
<div ng-controller='orgCtrl' >    
    <h1>{{"Org"}}</h1>
    <table>
        <tr>
            <td>
                <button ng-click="add(org)">addOrg</button>
            </td>
            <td>
                <label>orgName</label><input ng-model='org.name' />
            </td>
        </tr>
        <tr>
            <td>
                <br /><br /><br />
            </td>
        </tr>
        <tr>
                  <td>
                <button ng-click="getOrgs()">getAllOrg</button>
                  </td>
          
            <td>
                
            </td>
         </tr>
        <tr ng-repeat="m in orgs">
            <td>
              <label>orgName</label><input ng-model="m.Name" value="m.Name">
            </td>
            <td>
                <label>Id</label><input type="text" ng-model="m.Id" value="m.Id">
            </td>
            <td>
               <button ng-click="edite(m)">edite</button>
            </td>
            <td>
                <button ng-click="delete(m)">delete</button>
            </td>
        </tr>
    </table>
  



</div>

