
<div ng-controller='orgCtrl' >    
 <h1>{{"Org"}}</h1>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addorg">add new org</button>

    <div class="modal fade" id="addorg" tabindex="-1" role="dialog" aria-labelledby="addorg">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Org</h4>
                </div>
                <div class="modal-body">
                    <lable>Name</lable><input ng-model="Name" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button adddep ng-click="addOrg(Name)" type="button" class="btn btn-success" data-dismiss="modal">Add Org</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">      
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="org in orgs">
                    <td><label>{{org.Id}}</label></td>
                    <td><input ng-disabled="(!active[$index])?true:false" ng-model="org.Name"/></td>
                    <td><button class="btn btn-active" ng-model="chk" ng-click="editee(chk,$index)">editee</button></td>
                    <td><button ng-hide="(!active[$index])?true:false" class="btn btn-success" ng-click="saveeditee(org)">save</button></td>
                    
                    <td><button class="btn btn-danger" ng-click="delete(org)">Delete</button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


