

<div class="modal fade" id="changeparent" tabindex="-1" role="dialog" aria-labelledby="changeparent">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-stack">
                    <li role="presentation" class="active"><a href="#">Go to user</a></li>
                    <li role="presentation"><a href="#">go to department</a></li>
                    <li role="presentation"><a href="#">go to auth</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- adduser -->
<div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="adduser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-stack">
                    <li role="presentation" class="active"><a href="#">Go to user</a></li>
                    <li role="presentation"><a href="#">go to department</a></li>
                    <li role="presentation"><a href="#">go to auth</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!-- add department -->
<div class="modal fade" id="adddepartment" tabindex="-1" role="dialog" aria-labelledby="adddepartment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-stack">
                    <li role="presentation" class="active"><a href="#">Go to user</a></li>
                    <li role="presentation"><a href="#">go to department</a></li>
                    <li role="presentation"><a href="#">go to auth</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- go to users -->

<div class="modal fade" id="gotousers" tabindex="-1" role="dialog" aria-labelledby="gotousers">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-stack">
                    <li role="presentation" class="active"><a href="#">Go to user</a></li>
                    <li role="presentation"><a href="#">go to department</a></li>
                    <li role="presentation"><a href="#">go to auth</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!-- delete department -->
<div class="modal fade" id="editdep" tabindex="-1" role="dialog" aria-labelledby="editedep">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-stack">
                    <li role="presentation" class="active"><a href="#">Go to user</a></li>
                    <li role="presentation"><a href="#">go to department</a></li>
                    <li role="presentation"><a href="#">go to auth</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                    <li role="presentation"><a href="#">add dep</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!-- edite auth -->

<div>
    <ul  data-id="0" data-p="0" style="margin:30px;list-style-type: none;">
        <li data-id="0" style="width:10px"><span show  class="glyphicon glyphicon-minus"style="cursor:pointer;background-color:yellow;width:100px;height:30px">
    
            </span>
       <div style="width:100%;background-color:gray;height:35px;position:absolute">-->
            <span data-id="0" parent style="" class="btn btn-danger">change parent</span><span data-id="0"  type="button" class="btn btn-primary">add user</span><span data-id="0" type="button" class="btn btn-danger">add department</span><span data-id="0" type="button" class="btn btn-primary">Go To Users</span><span data-id="0" type="button" class="btn btn-danger">Delete Department</span><span data-id="0" type="button" class="btn btn-danger">Edite Authentication</span>
       </div>
       
        </li>
    </ul>

</div>
<div id="cont"></div>
<div id="sec" style="display:none"></div>
