<tr ng-repeat="useriorg in userInOrgList">
    <td><input ng-disabled="true" ng-model="useriorg.User.FirstName" /></td>
    <td><input ng-disabled="true" ng-model="useriorg.Department.Name" /></td>

    <td><button ng-click="delete(useriorg)">Delete</button></td>
    <td>
        <a data-target="#userinorg{{$index}}" class="btn btn-info" data-toggle="collapse">edite Auth</a>
        <div id="userinorg{{$index}}" class="collapse">

            <input type="button" ng-click='AddAuth("read",$index)' value="read" />
            <input type="button" value="write" ng-click='AddAuth("write",$index)' />
            <input type="button" value="delete" ng-click='AddAuth("delete",$index)' />


            <!--<div class="checkbox" ng-repeat="a in useriorg.Auth">
                <label><input type="checkbox" value="a" ng-model="a">{{a}}</label>-->
            <!--</div>-->

            <button ng-click="editee()">Save</button>
            <br />
            <div ng-repeat="a in useriorg.Auth">
                <label>
                    {{a.Type}}
                    <br />
                </label>
            </div>



        </div>
    </td>
    <!--<td><button class="btn btn-active" ng-model="chk" ng-click="editee(chk,$index)">editee</button></td>
    <td><button ng-hide="(!active[$index])?true:false" class="btn btn-success" ng-click="saveeditee(user)">save</button></td>
    <td><button class="btn btn-danger" ng-click="delete(user)">Delete</button></td>-->
</tr>